@import url('https://fonts.googleapis.com/css?family=Roboto|Lobster');

.modal-content {
    position: relative;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    outline: 0;
    color: #d8d8d8;
    font-family: Helvetica;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    color: white !important;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    box-shadow: inset 2px 10px 5px -12px rgba(235,235,235,1);
    background-color: #3b4663;
    border-color: #3b4663;
}
.error { 
    color: red;
    margin:0 auto;
    font-family:'Roboto';
    text-align:center;
}
.btn-login{
    color: #3b4663 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    width: 50%;
    box-shadow: inset 2px 10px 5px -12px rgba(235,235,235,1);
    background-color: #ffcc00;
    margin-top: 15px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-color: #3b4663;
}
.btn-login:hover {
    background-color:#f19408;
}

.form-control {
    background-color: #39435d;
    background-image: none;
    border: 1px solid #435071;
    color:#ffcc00;
}

.modal-header {
    padding: 15px;
    color: #ffcc00;
    font-family: 'Roboto';
    background-color: #3a435a;
    text-transform: uppercase;
    border-bottom: 1px solid #3c4869;
}
/*
* Container pop-over explanaiton about how to register
*/
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #3b4663;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    line-break: auto;
}

.popover.right>.arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #464f67;
    border-left-width: 0;
}

.popover-content {
    padding: 9px 14px;
    color: white;
    background-color: #464f67;
}
.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #3a435a !important;
    border-bottom: 1px solid #3b4663;
    border-radius: 5px 5px 0 0;
}

.container-popup{
    position: relative;
    float: left;
    line-height: 1;
    color: #fff;
    font-size: 30px;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .9;
}
.container-popup:hover{
    position: relative;
    float: left;
    line-height: 1;
    color: #fff;
    font-size: 31px;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .9;
}
.container-popup:focus {
    position: relative;
    float: left;
    line-height: 1;
    color: #fff;
    font-size: 31px;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .9;
}
.container-popup:active {
    position: relative;
    float: left;
    line-height: 1;
    color: #fff;
    font-size: 31px;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .9;
}