.btn-preguntas {
    display: block;
    margin: 10px;
}

.h1-preguntas {
    text-align: center;
    background-color: #283544;
    border-width: 1px;
    border-color: #3b4663;
    border-style: solid;
    color: white;
    font-family: 'Roboto';
}
.good-answer-title{
    font-size:25px;
    text-align:center;
    color:green;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}