<html>
    <head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/app/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
    <script src="/app/js/controller.js">
    </script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
              <div class="container">
               <h1 style="text-align:center;color:#ffc000;"> Inicia sesión</h1>
              </div>
            </nav>
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group form-login">
                    <input type="textarea" class="form-control" placeHolder="Usuario"><br>
                    <input type="password" class="form-control" placeHolder="Password"><br>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <button type="button" class="btn btn-login btn-md" onclick="altaUsuario()">Inicia sesión</button>
                        </div>
                    </div>
                    
                </div>                
            </div>
        </div>
    </body>
</html>